{% extends 'base.html' %}
{% block content %}
    <h1 id="family-title">Family order!</h1>
    <div class="family-page">
    <div class="family-box">
    <form id="family-form" method="POST" action="{% url 'add_deal_to_cart' 'family' 1 2 %}">
        {% csrf_token %}
        <div class="option">
        <label for="pizzaselector">Pizza 1: </label>
        <select name="pizzaselect" id="pizzaselector">
            {% for pizza in pizzas %}
            <option id="{{ pizza.id }}">{{ pizza.name }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="option">
        <label for="pizzaselector1">Pizza 2: </label>
        <select name="pizzaselect" id="pizzaselector1">
            {% for pizza in pizzas %}
            <option id="{{ pizza.PID }}">{{ pizza.name }}</option>
            {% endfor %}
        </select>
        </div>
        <button id="family-button" type="button" onclick="submitForm()">Submit</button>
    </form>
    </div>
    </div>
<script>
    function submitForm() {
      const pizza_selected = document.querySelector('#pizzaselector');
      const pizza_selected1 = document.querySelector('#pizzaselector1');
      const pizzaId = pizza_selected.selectedIndex+1;
      const pizza1Id = pizza_selected1.selectedIndex+1;
        let url = "{% url 'add_deal_to_cart' 'family' 0 0 %}".replace('0', pizzaId).replace('0', pizza1Id);
      window.location.href = url;
    }
  </script>
{% endblock %}