{% extends 'base.html' %}
{% block content %}
    <div class="pom-page">
    <div class="pom-box">
    <h1 id="pom-title">Pizza of the month!</h1>
    <h2 id="pom-pizza">This months pizza of the month is {{ pizzas.name }}</h2>
    <p id="pom-description">{{ pizzas.description }}</p>
    <h2 id="pom-price">$ {{ pizzas.price }}</h2>
    <form method="POST" action="{% url 'add_pofmonth_to_cart' pizzas.id %}">
        {% csrf_token %}
        <button id="pom-button" type="submit">Add to cart</button>
    </form>
        </div>
    </div>
{% endblock %}