{% extends 'base.html' %}
{% block content %}
  <head>
    <title>Payment Form</title>
  </head>
  <body>
    <h1>Payment form</h1>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    <form id="payment-form" method="post" action="{% url 'review' %}" onsubmit="return validateForm()">
      {% csrf_token %}

      <div>
        <label for="full-name">Full name:</label>
        <input type="text" id="full-name" name="full-name" required>
      </div>
      <div>
        <label for="credit-card-number">Credit Card Number:</label>
        <input type="text" id="credit-card-number" name="credit-card-number" required pattern="\d{16}">
      </div>
      <div>
        <label for="expiration-date">Expiration Date:</label>
        <input type="text" id="expiration-date" name="expiration-date" placeholder="MM/YYYY" required pattern="^(0[1-9]|1[0-2])\/[0-9]{4}$">
      </div>
      <div>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required pattern="\d{3}">
      </div>

      <div id="billing-address-section">
        <div>
          <label for="street-name">Street name:</label>
          <input type="text" id="street-name" name="street-name" required>
        </div>
        <div>
          <label for="house-number">House number:</label>
          <input type="text" id="house-number" name="house-number" required>
        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>
        </div>
        <div>
          <label for="country">Country:</label>
          <select id="country" name="country" required>
            <option value="">-- Select a country --</option>
            <option value="USA">United States of America</option>
            <option value="UK">United Kingdom</option>
            <option value="IS">Iceland</option>
            <option value="MX">Mexico</option>
          </select>
        </div>
        <div>
          <label for="postal-code">Postal code:</label>
          <input type="text" id="postal-code" name="postal-code" required>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>

    <a class="back-button" href="{% url 'pick-payment' %}">Back</a>



{% endblock %}
