{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="pizza-of-the-week">
                    <h2>Our most popular pizza</h2>
                    <div id="box" class="pizza--item border border-danger border-5 rounded p-3">
                        <a href="/order/4">
                            <img class="pizza--image img-fluid rounded" src="../static/images/meatlovers.png" alt="Meatlovers"/>
                            <h4 class="pizza-title">Meat lovers</h4>
                            <p>Perfect for all those meat lovers!</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pizza-box">
                    <h2>Special Deals</h2>
                    <div id="box_1" class="pizza--item border border-danger border-5 rounded p-3" style="height: 205px;">
                        <a href="/deals/1">
                            <img class="pizza--image img-fluid rounded" src="../static/images/twoforone.png" alt="TwoForOne"/>
                            <h4 class="twoforone1">2 for 1</h4>
                            <p>Order one pizza and get another one for free!</p>
                        </a>
                    </div>
                </div>
                <div class="pizza-box">
                    <div id="box_2" class="pizza--item border border-danger border-5 rounded p-3" style="height: 275px;">
                        <a href="/deals/3">
                            <img class="pizza--image img-fluid rounded" src="../static/images/familyorder.png" alt="FamilyOrder"/>
                            <h4 class="familyorder1" >Family order</h4>
                            <p>Give yourself a break from the kitchen!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
