{% extends 'base.html' %}
{% block content %}
    <div class="menu-page">
        <div class="menu-title">
            <h1 id="menu-page-title">The menu</h1>
            <a href="{% url 'order-index' %}">Go to order page!</a>
        </div>
        <div class="menu-items">
            <div class="row">
                {% for pizza in pizzas %}
                    <div class="col-md-4">
                        {% include 'menu/single_pizza.html' with pizza=pizza %}
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


