<a class="order-box" href="/order/{{ pizza.pizza.PID }}">
    <div class="pizza_item">
        <img class="pizza-image" src="../static/images/{{ pizza.pizza.image }}"/>
        <h4>{{ pizza.pizza.name }}</h4>
        <p class="pizza-toppings">
            {% for topping in pizza.toppings %}
            {{ topping.name }},
            {% endfor %}
        </p>
        <h2>{{ pizza.pizza.price }} $</h2>
        <a class="add-to-cart-btn" href="{% url 'add_to_cart' pizza.pizza.PID %}">Add to cart</a>
    </div>
</a>