{% extends 'base.html' %}
{% block content %}
<div class="pizza-details">
  <img class="details-img" src="../static/images/{{ pizza.image }}">
  <div class="details-info">
    <h1 class="details-name">{{ pizza.name }}</h1>
    <ul>
      {% for topping in pizza.toppings.all %}
      <li>{{ topping.name }}</li>
      {% endfor %}
    </ul>
    <p>{{ pizza.description }}</p>
    <h2>{{ pizza.price }} $</h2>
  </div>
  {% if pizza.vegan == True %}
  <img class="vegan-pic" src="../static/images/vegan.png">
  {% endif %}
  {% if pizza.spicy == True %}
  <img class="spicy-pic" src="../static/images/spicy.png">
  {% endif %}
</div>
{% endblock %}